<div class="container-fluid video–container">
  <h4>投稿した動画一覧</h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">動画</th>
        <th scope="col"></th>
        <th scope="col">投稿日</th>
        <th scope="col">コメント数</th>
        <th scope="col">編集</th>
        <th scope="col">削除</th>
      </tr>
    </thead>
    <% @s3files.each_with_index do |s3file, n|%>
      <tbody>
        <tr>
          <th scope="row"> 
            <div class="admin-video-info">
              <div class="admin-thumbnail-innner">
                <%= image_tag "https://saigai-share-encode-videos.s3.ap-northeast-1.amazonaws.com/thumbnail/#{s3file.file_name.split(".").first}_pic.0000000.jpg" %>
              </div>
              <div class="admin-videoinfo-inner">
                <h6><%= s3file.video.title %></h6>
                <p><%= s3file.video.description %></p>
              </div>
            </div>
          </th>
          <td> </td>
          <td><%= s3file.video.updated_at.to_s(:datetime_jp) %></td>
          <td><%= "0回" %></td>
          <td><%= link_to '編集',  edit_admin_video_path(s3file.video.id) %></td>
          <td><%= link_to '削除', "/admin/s3files/#{s3file.id}", method: :delete %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
