<div class="session-container row">
  <%#= render "devise/shared/error_messages", resource: resource %>
  <div class="col-md-5">
    <div class="session-inner border">
      <h2 class="session-title">アカウント編集</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-field">
          <%= f.label :user_name, "ユーザーネーム(半角英数字)" %> <br />
          <%= f.text_field :user_name, autofocus: true, class: "form-control form-box-width" %>
        </div>
        <div class="form-field">
          <%= f.label :first_name, "苗字" %> <br />
          <%= f.text_field :first_name, autofocus: true, class: "border" %>
        </div>
        <div class="form-field">
          <%= f.label :last_name, "名前" %> <br />
          <%= f.text_field :last_name, autofocus: true, class: "border" %>
        </div>
        <div class="form-field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-box-width" %>
        </div>
        <div class="session-bottom">
          <div class="form-actions">
            <%= f.submit "登録", class: 'btn btn-outline-secondary' %>
          </div>
      <% end %>
    </div>
  </div>
</div>
