<div class="user-comment-box col-md-5">
  <div class="comment-form">
    <% if user_signed_in? && user.email!='guest@example.com' %>
      <form class="form-inline" id="comment">
        <div class="row">
          <div class="form-group col-sm-9">
            <input name="comment[context]" type="textarea" v-model="context" class="search-box-form" size="28" placeholder="コメントを入力..." />
            <input name="comment[user_id]" type="hidden" v-model="user_id" value="<%= user.id %>" />
            <input name="comment[video_id]" type="hidden" v-model="video_id" value="<%= s3file.video.id %>" />
          </div>
          <div class="col-sm-3">
            <button v-on:click="comment_create" class="btn btn-primary">送信</button>
          </div>
        </div>
      </form>
    <% else %>
        <div class="row">
          <div class="form-group col-sm-9">
            <input name="comment[context]" type="text" v-model="context" class="search-box-form" size="28" placeholder="ゲストの方はコメントできません" />
            <input name="comment[user_id]" type="hidden" v-model="user_id" value="<%= user.id %>" />
            <input name="comment[video_id]" type="hidden" v-model="video_id" value="<%= s3file.video.id %>" />
          </div>
          <div class="col-sm-3">
            <button v-on:click="comment_create" class="btn btn-primary">送信</button>
          </div>
        </div>
    <% end %>
  </div>
  <div class="row">
    <div class="comment-icon col-2">
      <% comments.each do |comment| %>
        <div class="comment-icon-padding pt-3">
          <div class="header-icon-inner">
            <div class="header-icon-name">
              <%= comment.user.first_name %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div id="comments_index" class="col-10">
      <div v-for="comment in comments">
        <div class="pt-3">
          <%= 'user_id:  {{ comment.user_id }}' %>
        </div>
        <div>
          <%= '{{ comment.context }}' %>
        </div>
      </div>
    </div>
  </div>
</div>
