<h1 class="bg-danger">Videos#index</h1>
<p>Find me in root_path</p>
<%= javascript_pack_tag 'hello_vue' %>

<h3>動画一覧</h3>
<div class="container">
  <div class="row">
    <%= @videos.each do |video| %>
    <div class="col-md-4 border p-3">
      <div class="h5"><%= "#{video.title}" %></div>
      <div class="video_container">
        <%= video.data %>
      </div>
    </div>
  </div>
  <% end %>
  <%= link_to '動画を投稿する', new_video_path, class: "btn btn-outline-secondary" %>
</div>
