<div class="container-fluid video–container">
  <div class="row">
    <div class="video-box_show col-md-7">
      <div class="video-inner_show">
        <video-js controls id=player-id class="vjs-theme-sea" data-setup='{"liveui": true,"fluid": true}'>
          <source src="https://<%=ENV['AWS_CLOUDFRONT_MOVIE_URL']%><%=@s3file_name%>_hls.m3u8" type="application/x-mpegURL">
        </video-js>
      </div>
      <div class="video-info-inner_show">
        <div class="video-info-title border-bottom pt-2">
          <h5><%= @s3file.video.title %></h4>
          <div class="video-info-update_at"><%= @s3file.video.updated_at.to_s(:datetime_jp) %></div>
        </div>
        <div class="video-info">▼動画の説明</div>
        <div class="video-info-description"><%= @s3file.video.description %></div>
      </div>
    </div>
    <%= render partial: "comment_form", locals: { user: @user, s3file: @s3file, comments: @comments } %>
  </div>
</div>
<%= javascript_pack_tag 'comments_index' %>
<%= javascript_pack_tag 'comment_create' %>
