<header class="header border-bottom">
  <div class="header-left">
    <div class="header-logo_inner">
      <h1><%= link_to "FD-TUBE", root_path, class: "header-logo" %></h1>
    </div>
  </div>
  <% if user_signed_in? %>
  <div class="header-center">
    <div class="search-box">
      <%= search_form_for @q, url: search_videos_path do |f| %>
        <% f.label :title_cont %>
        <%= f.search_field :title_cont, size: "45px", class: "search-box-form" %>
        <%= f.submit "検索", class: 'btn btn-outline-secondary' %>
      <% end %>
    </div>
  </div>
  <div class="header-right">
    <div class="header-icon-inner">
      <div class="dropdown">
        <button class="btn header-icon-name" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
          aria-expanded="false">
          <%= current_user.first_name %>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <% if current_user.admin? %>
            <li><%= link_to "投稿した動画一覧", admin_s3files_path, class: "dropdown-item" %></li>
            <li><%= link_to "動画を投稿する", "/admin/s3files/new", class: "dropdown-item" %></li>
            <li><%= link_to "ユーザー管理画面", users_path, class: "dropdown-item" %></li>
          <% end %>
          <li><%= link_to "ホーム画面へ", videos_path, class: "dropdown-item" %></li>
          <li><%= link_to "アカウント変更", edit_user_registration_path, class: "dropdown-item" %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
        </ul>

      </div>
    </div>
  </div>
  <% else %>
  <div class="header-right">
    <%= link_to "ログイン", new_user_session_path, class: 'btn btn-outline-secondary' %>
    <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-outline-secondary' %>
  </div>
  <% end %>
</header>
